include ./lib/header.jade
    script(language="javascript",src="/static/js/index.min.js")
    link(href="/static/css/index.css",rel="stylesheet",type="text/css")
    body
        audio#audio(src="/public/image/background.mp3",loop="loop")
        div#loading=""
        section.swiper-container
            section.swiper-wrapper
                section.swiper-slide(class="page page1")
                    div.music=""
                    div.p1-text=""
                    div.p1-car1=""
                    div.p1-car2=""
                    div.p1-car3=""
                    div.p1-car4=""
                    div.p1-car5=""
                    div.p1-car6=""
                    div.p1-car7=""
                    div.logo=""
                section.swiper-slide(class="page page2")
                    div.music=""
                    div.p2-text=""
                    div.p2-car=""
                section.swiper-slide(class="page page3")
                    div.music=""
                    div.p3-text=""
                    div.p3-ele=""
                    div.p3-car=""
                section.swiper-slide(class="page page4")
                    div.music=""
                    div.p4-text=""
                    div.p4-car=""
                    div.p4-bottom=""
                section.swiper-slide(class="page page5")
                    div.music=""
                    div.p5-text=""
                    div.p5-car=""
                section.swiper-slide(class="page page6")
                    div.music=""
                    div.p6-text=""
                    div.p6-car=""
                    div.p6-background=""
                section.swiper-slide(class="page page7")
                    div.music=""
                    div.p7-text=""
                    div.p7-car=""
                section.swiper-slide(class="page page8")
                    div.music=""
                    div.p8-text=""
                    div.p8-car=""
                    div.p8-people=""
                section.swiper-slide(class="page page9")
                    div.music=""
                    div.p9-text=""
                    div.p9-cars
                        div.line
                            div.p9-car1=""
                            div.p9-car2=""
                        div.line
                            div.p9-car3=""
                            div.p9-car4=""
                        div.line
                            div.p9-car5=""
                            div.p9-car6=""
                        div.line
                            div.p9-car7=""
                    div.share-box
                        div.share-background=""
                        div.sure=""
script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
